@*TODO: capire come utilizzare questa classe come AlertDialog custom*@

@if (Show)
{
    <div class="modal fade show" style="display: block; background-color: rgba(10, 10, 10, .8);" aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div style="text-align: center"><i class="oi fa-3x @GetIcon()" style="color: @GetColor()"></i></div>
                    <br/>
                    <p class="mb-4">@Message</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary float-right" @onclick="@Close">Ok</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public AlertType AlertType { get; set; }

    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    private bool Show { get; set; } = true;

    private string GetIcon()
    {
        return AlertType switch
        {
            AlertType.Warning => "oi-warning",
            AlertType.Error => "oi-circle-x",
            AlertType.Success => "oi-circle-check",
            _ => "oi-info"
        };
    }

    private string GetColor()
    {
        return AlertType switch
        {
            AlertType.Warning => "yellow",
            AlertType.Error => "red",
            AlertType.Success => "green",
            _ => "blue"
        };
    }

    private void Close()
    {
        Show = false;
        StateHasChanged();
    }
}