@inherits LayoutComponentBase
@inject ThemeService ThemeService
@inject ISettingsManager SettingsManager
<link href="_content/Radzen.Blazor/css/@(ThemeService.CurrentTheme).css" rel="stylesheet" />
<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />
<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<main>
		<article class="content px-4">
			@Body
		</article>
	</main>
</div>

@code
{
    protected override void OnInitialized()
    {
		ThemeService.CurrentTheme = SettingsManager.GetTheme();
    }
}
