<div class="modal fade show" style="display: block; background-color: rgba(10, 10, 10, .8);" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Title</h4>
            </div>
            <div class="modal-body">
                @ContentBody
            </div>
            <div class="modal-footer">
                @Footer
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ContentBody {get; set; }
    
    [Parameter]
    public RenderFragment Footer { get; set; }
}
