@page "/settings"
@inject IDialogService DialogService
@inject ISettingsManager SettingsManager

@if (_settingsData == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="_settingsData" OnSubmit="@Submit">
        <table class="table">
            <tbody>
                <tr class="h6">
                    <th>Username</th>
                </tr>
                <tr class="h6">
                    <td><RadzenTextBox @bind-Value="@_settingsData.Username" Class="w-100" /></td>
                </tr>
                <tr class="h6">
                    <th>Expenses service URL</th>
                </tr>
                <tr>
                    <td><RadzenTextBox @bind-Value="@_settingsData.Url" Class="w-100" ReadOnly="true" /></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary float-right" type="submit">Save</button>
    </EditForm>
}

@code {

    private readonly ExpensesServiceSettings _settingsData = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _settingsData.Username = SettingsManager.GetUsername();
            _settingsData.Url = SettingsManager.GetExpensesServiceUri().AbsoluteUri;
        }
        catch (Exception e)
        {
            await DialogService.Alert(AlertType.Error, "Error", $"Unable to retrieve settings. Error: {e}");
        }
    }

    private async Task Submit()
    {
        var confirmed = await DialogService.Confirm("Save settings", "Are you sure you want to save settings?");
        if (confirmed)
        {
            try
            {
                SettingsManager.SetUsername(_settingsData.Username);
                await DialogService.Alert(AlertType.Success, "Save settings", "Settings saved");
            }
            catch (Exception e)
            {
                await DialogService.Alert(AlertType.Error, "Error", $"Unable to save settings. Error: {e}");
            }
        }
    }

    private record ExpensesServiceSettings
    {
        public string Username { get; set; }
        public string Url { get; set; }
    }
}
